:root {
    --ff-primary: 'Outfit', sans-serif;

    --fs-lg: 1.375rem;
    --fs-sm: .9375rem;

    --fw-base: 400;
    --fw-bold: 700;

    --clr-primary: #7D889E;
    --clr-secondary: #1F314F;
    --clr-primary-bg: #D5E1EF;
    --clr-secondary-bg: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--clr-primary-bg);
    font-family: var(--ff-primary);
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    max-width: 100%;
    display: block;
}

/* ============
   Typography
   ============*/

.title {
    color: var(--clr-secondary);
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}

.main-text {
    color: var(--clr-primary);
    font-size: var(--fs-sm);
    font-weight: var(--fw-base);
}

.title,
.main-text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* ============
   Layout
   ============*/

.container {
    background: var(--clr-secondary-bg);
    border-radius: 20px;
    padding: 1rem 1rem 2.5rem;
    max-width: 320px;
    text-align: center;
}

/* ============
   Main Content
   ============*/

.qr-code {
    border-radius: 10px;
    margin-bottom: 1.5rem;
}